.container {
    margin: 70px 0;
}

.container-signin {
    width: 500px;
    margin: 0 auto;
}

.text-center {
    margin: 20px 0;
}

.btn btn-primary btn-block mb-4 {
    background-color: #5e7525;
    color: white;
}